services:
  mdb-to-postgresql:
    build: .
    container_name: mdb-to-postgresql
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - .:/usr/src/app
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - TZ=UTC
